{% extends 'base.html' %}
{%load static%}
{% block bodyblock%}
<div class="mb-0 pb-0 mt-3 mx-3 d-flex justify-content-end">
  <img height="210" style="position: relative; top:17px" src="{% static 'astro.png'%}" alt="">
</div>

<div class="ms-body py-5 mt-0 mx-3">
  <h4 class="text-white text-center fw-light">choose any action to symphonize your env</h4>
  <div class=" d-flex mx-5 p-5 justify-content-center">
      <button class="btn btn-lg me-4 btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" > Create Yourself a Playlist &nbsp; <i class="fa-solid fa-music"></i></button>
      <a href="{% url 'musicmaker:playlists'%}"  class="btn  btn-light btn-lg text-primary">Download a Premade Playlist &nbsp; <i class="fa-solid fa-list-check"></i></a>
  </div>
  <h6 class="text-white text-center fw-light">musicSpace let you listen whatever you want ...</h6>
  
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {%if request.user.is_authenticated %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Name your playlist</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  method="post">
          {%csrf_token%}
          <input type="text" required placeholder="Name of your playlist" name="name" class="form-control">
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button> -->
        <button type="submit" class="btn btn-primary">Done</button>
      </form>
      </div>
    </div>
  </div>
  {%else%}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Seems like you aren't signed in.</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You need to signin to the site to create, download and share your playlists.
      </div>
      <div class="modal-footer">
        
        <a href="#" class="btn btn-outline-danger">Register</a>
        <a href="#"  class="btn btn-primary">Login</a>
      </form>
      </div>
    </div>
  </div>
  {%endif%}
</div>


{%endblock%}