{% extends 'base.html' %}
{%load static%}
{% load django_bootstrap5 %}

{% block bodyblock%}
<div class="row">
    {% if playlist.user == request.user %}
    <div class="col-lg-6">
        <div class="mb-0 pb-0 mx-3 d-flex justify-content-end">
            <img height="150" style="position: relative; top:38px" src="{% static 'astro1.png'%}" alt="">
          </div>
          <h4 class="text-start fw-light" title="{{playlist.name}}">add songs to your playlist: <b>{{playlist.name|truncatechars:15}}</b></h4>
          <div class="border p-5">
            <form action="" method="post" class="text-center">
                {%csrf_token%}
                {% bootstrap_form form layout='floating'  %}
                <div class="d-flex justify-content-center my-3">
                    <button class="btn btn-lg btn-primary mt-3">Add song to the playlist</button>
                </div>


            </form>
          </div>


    </div>
    <div class="col">
        <div class="ms-body py-2 mt-0 mx-3">
            
            <h4 class="text-white text-center fw-light">songs list</h4>
            
          </div>
          <div class="mx-3 p-2" style="height:60vh; overflow: auto;">
          {% for object in songs %}
                 <div class="py-2">
                  <a  class="text-decoration-none text-dark "  data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="sendData('{{object.title}}','{{object.link}}')"  data-url="{{object.link}}" data-title="{{object.title}}" >
                      <div class="d-flex justify-content-between">
                        <div class="text-center">
                            <p class="fw-light">{{forloop.counter}}</p>
                        </div>
                          <div>
                            
                            <h6 class="fw-light"> <i class="fa-solid fa-music"></i> &nbsp; {{object.title}} &nbsp;
                    
                          </h6></div>
                          <div>
                              <p class="fw-light">{{object.created_date}}</p>
                          </div>
                         
                      </div>
                      
                     </a>
           
                 </div>
            {% empty %}
            <p class="text-muted text-center p-5 m-5">No added songs.</p>
            {% endfor %}
           </div>
           <hr class="text-secondary pt-0 pb-0">
           <div class="mx-3 d-flex justify-content-end">
            <div>
                <button class="btn btn-text"> Load Excel File Instead</button>
                <a id="download-link" href="{%url 'musicmaker:download' pk=playlist.id%}"  class="btn btn-primary"> Download Playlist</a>
            </div>
           </div>
    </div>
    {%else%}
    <div class="col-lg-6">
        <div class="mb-0 pb-0 mx-3 d-flex justify-content-end">
            <img height="175" style="position: relative; top:38px" src="{% static 'astro1.png'%}" alt="">
          </div>
          <h4 class="text-start fw-light" title="{{playlist.name}}">playlist name: <b>{{playlist.name|truncatechars:15}}</b></h4>
          <div class="border p-5">
           <h5><span class="fw-light">created by:</span> {{playlist.user.username}}</h5>
           <h5><span class="fw-light">created on:</span> {{playlist.created_date}}</h5>
           <h5><span class="fw-light">total songs:</span> {{playlist.totalsongs}}</h5>
           <h5><span class="fw-light">views:</span> {{playlist.views}}</h5>
           <div class="d-flex justify-content-end mt-5">
            <button class="btn btn-primary">share this playlist</button>
           </div>
          </div>


    </div>
    
    <div class="col-lg-6  m-auto">
        

    
      
        <div class="ms-body py-2 mt-0 mx-3">
            
            <h4 class="text-white text-center fw-light">songs list</h4>
            
          </div>
          <div class="mx-3 p-2 " style="height:60vh; overflow: auto;">
          {% for object in songs %}
                 <div class="py-2">
                  <a  class="text-decoration-none text-dark "  data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="sendData('{{object.title}}','{{object.link}}')"  data-url="{{object.link}}" data-title="{{object.title}}" >
                      <div class="d-flex justify-content-between">
                        <div class="text-center">
                            <p class="fw-light">{{forloop.counter}}</p>
                        </div>
                          <div>
                            
                            <h6 class="fw-light"> <i class="fa-solid fa-music"></i> &nbsp; {{object.title}} &nbsp;
                    
                          </h6></div>
                          <div>
                              <p class="fw-light">{{object.created_date}}</p>
                          </div>
                         
                      </div>
                      
                     </a>
           
                 </div>
            {% empty %}
            <p class="text-muted text-center p-5 mt-5">No added songs.</p>
            {% endfor %}
           </div>
           <hr class="text-secondary pt-0 pb-0">
           <div class="mx-3 d-flex justify-content-end">
            <div>
                <button class="btn btn-text"> Load Excel File Instead</button>
                <a id="download-link" href="{%url 'musicmaker:download' pk=playlist.id%}"  class="btn btn-primary"> Download Playlist</a>
            </div>
           </div>
    </div>
    {%endif%}
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">loading</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalBody">
          fetching
        </div>
        <div class="modal-footer">
            <small>In case of video unavailabe use above youtube link. </small>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% include 'loader.html'%}
<script>

function sendData(title, link){
    const modalTitle = document.getElementById('exampleModalLabel');
    const modalbody = document.getElementById('modalBody')
    const ylink = convertToEmbedUrl(link);
    modalTitle.innerHTML = title;
    modalbody.innerHTML = `<iframe width="465" height="255" src="${ylink}" allow="autoplay; encrypted-media"></iframe>
    <br>
  <small>Youtube link: <a href='${link}' target='_blank'>${link}</a></small>
    `;
}

function convertToEmbedUrl(url) {
  let videoId = '';
  if (url.includes('youtube.com')) {
    const urlParams = new URLSearchParams(new URL(url).search); // Parse URL parameters
    videoId = urlParams.get('v'); // Extract video ID from URL parameters
    if (!urlParams.has('autoplay')) {
      url += '&autoplay=1'; // Add autoplay parameter if it's not already present
    }
  } else if (url.includes('youtu.be')) {
    videoId = url.split('/')[1]; // Extract video ID from URL
  }
  const embedUrl = `https://www.youtube.com/embed/${videoId}?${new URLSearchParams(new URL(url).search).toString()}`; // Construct embedded URL
  return embedUrl;
}


      function showLoader() {
        document.getElementById("loader").style.display = "block";
      }
    
      function hideLoader() {
        document.getElementById("loader").style.display = "none";
      }
      document.getElementById("download-link").addEventListener("click", function() {
        showLoader();
        document.getElementById("download-link").addEventListener("DOMContentLoaded", function() {
          hideLoader()

        
    
        
      });

    
        
      });
hideLoader();
  


</script>


{%endblock%}