<nav class="navbar navbar-expand-lg mt-0 pt-0">
    <div class="container-fluid">
      <a class="navbar-brand text-white fs-4 pt-5 px-5 pb-2" href="/">
        musicSpace <i class="fa-solid fa-heart-circle-bolt"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link  link fs-6" aria-current="page" href="#">Create Playlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link fs-6" href="#">Recommend Me</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link link fs-6" href="#">How it works?</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link link fs-6" href="#">Join Now</a>
          </li>
         
        </ul>
      </div>
      </div>
  </nav>